body {
  font-family: sans-serif;
  margin: 2em;
  background: #2e2e2e;
  color: #fff;
  overflow: hidden;
}
a{
  text-decoration: none;
  color: #fff;
 
  }
a[class="link"]{
   border-bottom: 1px solid #Fff;
  }
img {
  width: 150px;
}
div[id="menu"] {
  display: none;
  background: #2e2e2e;
  width: 50%;
  height: 500px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  border: 1px solid #fff;
}
img[id="logo"] {
  position: fixed;
  bottom: 30px;
  right: 7%;
}
a[id="menuopen"],
img[id="menulogo"] {
  position: fixed;
  bottom: 30px;
  right: 1%;
  width: 50px;
}
a[id="runcode"],
img[id="runlogo"] {
  position: fixed;

  bottom: 120px;

  right: 1%;

  width: 50px;
}
textarea[id="console"] {
  background: #2e2e2e;
  font-family: monospace;
  color: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  border: none;
  padding: 10px 10px;
  box-shadow: 0 0 0 0;
  outline: 0;
}
